<footer class="site-footer">
  <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
      <ul class="contact-list">
        <li>©2025, Black Beyond Data</li>
        <li>
          <a href="mailto:thecaribbeandigital@gmail.com">admin@blackbeyonddata.org</a>
        </li>
      </ul>
    </div>

    <div class="footer-col footer-col-2">
      <span>Banner art adapted from "Constellation #5" by Soraya Jean-Louis</span>
    </div>
  </div>
</footer>

<div class="fixed-footer" style="color: white">
  <img src="{{site.baseurl}}/images/logos/mellon.png" />
  <img src="{{site.baseurl}}/images/logos/spanport.png" />
  <img src="{{site.baseurl}}/images/logos/bbd.png" style="margin: 5px 5px 0px 0px" />
  <img src="{{site.baseurl}}/images/logos/cdsc.png" style="margin: 5px 5px 0px 0px" />
  <img src="{{site.baseurl}}/images/logos/lifexcode.png" style="margin: 5px 5px 0px 0px" />
  <img src="{{site.baseurl}}/images/logos/jhu_logo.png" />
  <img src="{{site.baseurl}}/images/logos/whc.png" style="margin: 5px 5px 0px 0px" />
  <img src="{{site.baseurl}}/images/logos/AFAM.png" style="margin: 5px 5px 0px 0px" />

  <!-- <img src="{{site.baseurl}}/images/logos/nhprc.png" style="margin: 5px 5px 0px 0px" /> -->
  <!-- <img src="{{site.baseurl}}/images/logos/msu.png" style="margin: 5px 5px 0px 0px" /> -->
  <img src="{{site.baseurl}}/images/logos/RSWG.png" style="margin: 5px 5px 0px 0px" />
</div>
